.stay_sticky
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
    margin-top: 2%;
}

.stay_fixed
{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
    margin-top: 90vh;
    margin-bottom: 0;
}

.made_by
{
    flex: 1;
    text-align: right;
}

.powered_by
{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.powered_by_header
{
    text-align: left;
}

.logos_container
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.musixmatch_logo_container, .spotify_logo_container
{
    max-width: 100%;
    display: flex;
    align-items: center;
}

.musixmatch_logo_container
{
    flex: 1;
    background-color: #ff5353;
    justify-content: center;
}

.spotify_logo_container
{
    flex: 1;
    background-color: #1db954;
    justify-content: center;
}

#github_logo
{
    max-width: 18%;
}

#linkedin_logo
{
    max-width: 18%;
}

#musixmatch_logo
{
    max-height: 100px;
}

#spotify_logo
{
    max-height: 100px;
}

@media screen and (max-width: 1400px) 
{
    .stay_sticky, .stay_fixed 
    {
        flex-direction: row;
        align-items: center;
    }

    .made_by 
    {
        flex: 0.3; 
    }

    .musixmatch_logo_container, .spotify_logo_container 
    {
        flex: 1;
    }
}

@media screen and (max-width: 699px)
{
    .stay_sticky
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        column-gap: 5%;
        margin-top: 3%;
    }

    .made_by
    {
        flex: 0.3;
        align-self: flex-start; 
    }

    
}

@media screen and (max-width: 589px)
{
    .stay_sticky
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap; 
        column-gap: 5%;
        margin-top: 3%;
    }

    .made_by
    {
        flex: 0.3;
        align-self: center;
        text-align: center;
    }

    .logos_container
    {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }

    #musixmatch_logo
    {
        width: 100%;
        max-height: 100px;
    }

    #spotify_logo
    {
        width: 100%;
        max-height: 100px;
    }

}

@media screen and (min-width: 590px) and (max-width: 899px)
{
    .stay_sticky
    {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap; 
        column-gap: 5%;
        margin-top: 3%;
    }

    .made_by
    {
        flex: 0.3;
        align-self: flex-start; 
    }

    .logos_container
    {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }

    #musixmatch_logo
    {
        flex: 0.3;
        max-height: 100px;
    }

    #spotify_logo
    {
        flex: 0.4;
        max-height: 100px;
    }

}